{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "modules": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "templateStrings": true,
  },
  "globals": {
    "TweenMax": true,
    "TweenLite": true,
    "Cubic": true,
    "Circ": true,
    "Back": true,
    "Expo": true,
    "Linear": true,
    "Elastic": true,
    "Sine": true,
    "DocumentTouch": true,
  },
  "rules": {
    "no-path-concat": 0,
    "strict": 0,
    "no-constant-condition": 0, // Useful for while(true) async loops
    "valid-jsdoc": [2, {
      "requireReturn": false,
      "requireReturnDescription": false,
      "prefer": {
        "returns": "return"
      }
    }],
    "guard-for-in": 2,
    "no-floating-decimal": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "radix": 2,
    "wrap-iife": [2, "inside"],
    "indent": [2, 2],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-style": [2, "last"],
    "consistent-this": [2, "self"],
    "max-nested-callbacks": [2, 2],
    "no-nested-ternary": 2,
    "no-underscore-dangle": 0,
    "operator-assignment": [2, "never"],
    "quote-props": [2, "as-needed"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-parentheses": [2, "never"],
    "space-in-parens": [2, "never"],
    "quotes": [2, "single"],
    "no-var": 2,
    "yoda": 0
  }
}
